/* CSS Document */
body {background-color: #f4ffe4;
	  color: #333333;
	  background: url("trilliumfoot.gif") no-repeat right bottom, url("trilliumgradient.png");}
h1 {background-color: #d5edb3;
	color: #5c743d;
	height: 86px;}
h2 {background-color: #d5edb3;
	color: #5c743d;
	background-image: url("trilliumbg.gif");
	background-repeat: no-repeat;
	padding-left: 30px;}
.companyname{color: #5c743d;}